<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
    id="sidebar" aria-labelledby="sidebarLabel">

    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">
            <i class="bi bi-folder2-open me-1"></i> Arquivos
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column gap-2" id="sidebarFileList">
        <!-- populado por sidebar.js -->
    </div>
</div>
